<%
  const rec = locals.rec || {};
  const id = rec.id || '';
  const label = rec.label || '';
  const fieldName = id.split('-')[1] || '';
  const disabled = (fieldName.startsWith('governor')) ? 'disabled = \'disabled\'' : '';
  const firstName = rec.firstName || '';
  const lastName = rec.lastName || '';
  const email = rec.email || '';
  const companyTitle = rec.companyTitle || '';
%>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title"><%= label %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form autocomplete="off" spellcheck="false" class="submission" data-id="<%= id %>">
          <div class="form-group">
            <label for="property-firstName">First Name</label>
            <input
              type="text"
              spellcheck="false"
              autocomplete="off"
              class="form-control entity-property"
              placeholder="Enter first name"
              id="property.firstName"
              data-property="firstName"
              value="<%= firstName %>">
          </div>
          <div class="form-group">
            <label for="property-lastName">Last Name</label>
            <input
              type="text"
              spellcheck="false"
              autocomplete="off"
              class="form-control entity-property"
              placeholder="Enter last name"
              id="property.lastName"
              data-property="lastName"
              value="<%= lastName %>">
          </div>
          <div class="form-group">
            <label for="property-email">Email</label>
            <input
              type="email"
              spellcheck="false"
              autocomplete="off"
              class="form-control entity-property"
              placeholder="Enter email (representatives only)"
              <%= disabled %>
              id="property.email"
              data-property="email"
              value="<%= email %>">
          </div>
          <div class="form-group">
            <label for="property-companyTitle">Title</label>
            <input
              type="text"
              spellcheck="false"
              autocomplete="off"
              class="form-control entity-property"
              placeholder="Enter title (representatives only)"
              <%= disabled %>
              id="property.companyTitle"
              data-property="companyTitle"
              value="<%= companyTitle %>">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="modal-submit">Save changes</button>
      </div>
    </div>
  </div>
</div>